.goBack {
	background: none;
	border: none;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 44px;
	cursor: pointer;
}

svg {
	margin-right: 5px;
}
