* {
	box-sizing: border-box;
}

body {
	font-family: 'Karla', sans-serif;
	color: #000;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1860px;
	margin: 0 auto;
	padding: 0 210px;
}

@media (max-width: 1300px) {
	.container {
		max-width: 1340px;
		padding: 0 120px;
	}
}

@media (max-width: 1000px) {
	.container {
		padding: 0 10px;
	}
}
